<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="db-username">root</entry>
<entry key="control-port">8081</entry>
<entry key="web-root">/home/rick/Documents/webroot/</entry>
<entry key="control-web-root">./ControlPanelHTML</entry>
<entry key="log-location">log.txt</entry>
<entry key="db-name">webservAuth</entry>
<entry key="db-url">jdbc:mysql://localhost:3306/</entry>
<entry key="db-password">fDb4tcwT38Dd</entry>
<entry key="default-control-page">login.html</entry>
<entry key="web-port">8080</entry>
<entry key="default-page">index.html</entry>
<entry key="directoryBrowsing">false</entry>
</properties>
