<?xml version="1.0"?>
<settings>
    <DB-settings>
        <URL>jdbc:mysql://localhost:3306/</URL>
        <database>webservAuth</database>
        <username>root</username>
        <password>fDb4tcwT38Dd</password>
    </DB-settings>
    <server-settings>
        <web-port>8080</web-port>
        <control-port>8081</control-port>
        <web-root>htdocs</web-root>
        <default-page>index.html</default-page>
        <log-location>log.txt</log-location>
    </server-settings>
</settings>